<div class="container-fluid">
    <div class="jumbotron" id="jumbo">
        <h1 class="display-4">Good Read!</h1>
        <p class="lead">A simple website to entice and excite the brains of readers by providing the widest range of
            Bestsellers and classics to choose from!!</p>
        <hr class="my-4">
        <p>If you wanna know more about us and explore more content then Click Below!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>